{% extends 'base.html' %}

{% block content %}

    <div class="bg-light p-5 rounded">
        <h1>Juan Ignacio Marcos</h1>
        </br>
        <p>Hi! My name is Juan Ignacio Marcos and I'm 31 years old argentinian developer.</p>
        </br>
        <p>I made this blog as a final challenge of a <a href="https://www.coderhouse.com/online/python">Python/Django course on CoderHouse.</a></p>
        </br>
        <p>Currently I'm learning about Django, Rust and Solidity.</p>
        </br> 
        <p>I hope to be a great dev one day so I can help back with all the things my teachers and coworkers have taught me :)</p>
    </div>

{% endblock content %}