{% extends 'base.html' %}


{% block breadcrumbs %}

    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Blogs</a></li>
    </ol>
    </nav>

{% endblock breadcrumbs %}


{% block forms %}

    <form method='GET'>
        <input type='text' name='q' value='{{ request.GET.q }}'>
        <input class="button" type='submit' value="Search Blog">
    </form>

{% endblock forms %}


{% block content %}

    {% if object_list %}
    
        {% for news in object_list %}
            
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-0">{{ news.title }}</h1>
                        <div class="mb-1 text-muted"><p>On {{ news.datetime|date:'M j' }}, posted by: {{ news.author }}</p></div>
                        <p class="card-text mb-auto">{{ news.subtitle }}</p>
                        <p><a href="{{ news.get_absolute_url }}" class="stretched-link">Read more...</a></p>
                    </div>
                </div>
            </div>
        
        {% endfor %}
    
    {% else %}
        
        <h1>There are no blogs to see!</h1>

    {% endif %}

    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <h3 class="mb-0">Create your post!</h1>
                <p><a href="{% url 'blog_create' %}" class="stretched-link">Click here</a></p>
            </div>
        </div>
    </div>

{% endblock content %}