{% extends 'base.html' %}

{% block breadcrumbs %}

    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'blog_view' %}">Blogs</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{blog.slug}}</li>
    </ol>
    </nav>

{% endblock breadcrumbs %}

{% block content %}
    
    <form method="POST">
        
        {% csrf_token %}
        <p>Do you really wish to delete {{object}}?</p>
        <input type="submit" value="Yes, delete it.">
        <a href="{% url 'blog_view' %}">No, take me back!</a>
    
    </form>

{% endblock content %}